<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingsViewController</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>single_user</string>
		</dict>
	</array>
	<key>StandingsViewController</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>rings</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>multi_user</string>
		</dict>
	</array>
	<key>MapViewController</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>rings</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>multi_user</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>single_user</string>
		</dict>
	</array>
	<key>PortfolioViewController</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>medal</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string>multi_user</string>
		</dict>
	</array>
	<key>OrderedTabs</key>
	<array>
		<string>SettingsViewController</string>
		<string>StandingsViewController</string>
		<string>MapViewController</string>
		<string>PortfolioViewController</string>
	</array>
</dict>
</plist>
